<!-- import bulma + jquery -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<style>
    .btn-color {
        background-color: #5f5f5f;
    }
    .box-color {
        background-color: #6a6a6a;
    }
    .back-sugar {
        background-image: url("./blur_sugarcane_small.png");
    }
    .hr1{
        width: 20%;
        background-color: #5f5f5f;
    }
</style>
<header class="btn-color">
    <nav class="level-right">
        <div style="margin-right:10px; margin-top:10px; margin-bottom:10px">
            <button class="button btn-color is-outlined is-rounded" id="btn-add">
                <span class="icon">
                </span>
                <span class="has-text-white">PrimCraft</span>
            </button>
            <button class="button btn-color is-outlined is-rounded" id="btn-add">
                <span class="icon">
                </span>
                <span class="has-text-white">Asspixel</span>
            </button>
        </div>
    </nav>
</header>
<body>
    <section class="has-background-black">
        <div class="has-text-white">
            <div class="container">
            <br>
                <div class="box box-color">
                    <p class="title has-text-white has-text-centered">
                        <strong>PrimCraft Factions</strong>
                    </p>
                    <p class="subtitle has-text-white has-text-centered">
                        The first ever factions server on eaglercraft!
                    </p>
                    <br>
                    <br>
                    <div class="subtitle has-text-white is-4">
                        <span class="icons">
                            <i class="fas fa-users"></i>
                        </span>
                        <span>Players: <strong id="playercount"></strong></span>
                        <script>
                            const ws = new WebSocket("wss://mc.primitt.dev/survival")
                            ws.onopen = function (e){
                                ws.send("Accept: MOTD")
                            }
                            ws.onmessage = function (e){
                                var playercount = document.getElementById("playercount")
                                var data = JSON.parse(e.data)
                                try{
                                  playercount.innerHTML = data["data"]["online"] + "/" + "70"
                                }
                                catch{
                                  console.log("Unable to parse")
                                }
                            }
                            ws.onclose = function(e){
                                ws.OPEN()
                            }
                        </script> 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="columns" style="padding:20px;">
            <div class="column is-one-third">
                <div class="has-text-centered is-centered">
                    <div class="is-size-3 has-text-white has-text-centered">
                        <strong class="has-text-white is-size-2">Comming</strong> Soon!
                        <hr>
                    </div>
                </div>
                <article class="panel has-text-white box-color">
                    <a class="has-text-white panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                        <i class="fas fa-book"></i>
                        </span>
                        Some Comming Soon Item Here!
                    </a>
                    <a class="panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                            <i class="fas fa-book"></i>
                        </span>
                        This website is the best website!
                    </a>
                </article>
            </div>
            <div class="column is-one-third">
                <div class="has-text-centered is-centered">
                    <div class="is-size-3 has-text-white has-text-centered">
                        Something will be here....
                        <hr>
                    </div>
                </div>
                <article class="panel has-text-white box-color">
                    <a class="has-text-white panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                        <i class="fas fa-book"></i>
                        </span>
                        Something here??? Possibily??? (idk, bongo u decide whats here)
                    </a>
                    <a class="panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                            <i class="fas fa-book"></i>
                        </span>
                        This website is the best website!
                    </a>
                </article>
            </div>
            <div class="column is-one-third">
                <div class="has-text-centered is-centered">
                    <div class="is-size-3 has-text-white has-text-centered">
                        weeeeeeeeeeeeeeeeee
                        <hr>
                    </div>
                </div>
                <article class="panel has-text-white box-color">
                    <a class="has-text-white panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                        <i class="fas fa-book"></i>
                        </span>
                            I love a
                    </a>
                    <a class="panel-block has-text-white">
                        <span class="panel-icon has-text-white">
                            <i class="fas fa-book"></i>
                        </span>
                        This website is the best website!
                    </a>
                </article>
            </div>
        </div>
    </section>
</body>
