<!-- import bulma + jquery -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
></script>

<style>
  .btn-color {
    background-color: #5f5f5f;
  }
  .box-color {
    background-color: #30364D;
  }
  .back-sugar {
    background-image: url("./blur_sugarcane_small.png");
  }
  .hr1 {
    width: 20%;
    background-color: #5f5f5f;
  }
  .backcolor{
    background-color: #1F253B;
  }
  .text{
      color: #ffd058;
  }
</style>
<header class="">
  <nav class="navbar box-color" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <p class="navbar-item text">PrimCraft</p>
        <a href="/" class="navbar-item text"> Home </a>
    </div>
</header>
<body>
    <section class="backcolor">
        <div class="text">
            <div class="container">
            <br>
                <div class="box box-color">
                    <p class="title text has-text-centered">
                        <strong>PrimCraft Factions</strong>
                    </p>
                    <p class="subtitle text has-text-centered">
                        The first ever factions server on eaglercraft!
                    </p>
                    <br>
                    <br>
                    <div class="subtitle text is-4">
                        <span class="icons">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="text">Players: <b class="text" id="playercount">Loading..</b></span>
                        <script>
                            const ws = new WebSocket("wss://mc.primitt.dev/survival")
                            ws.onopen = function (e){
                                ws.send("Accept: MOTD")
                            }
                            ws.onmessage = function (e){
                                var playercount = document.getElementById("playercount")
                                var data = JSON.parse(e.data)
                                try{
                                  playercount.innerHTML = data["data"]["online"] + "/" + "70"
                                }
                                catch{
                                  console.log("Unable to parse")
                                }
                            }
                            ws.onclose = function(e){
                                ws.OPEN()
                            }
                        </script> 
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div>
      <div class="columns">
                    <div class="column is-one-third">
                    </div>
                    <div class="column is-one-third">
                      <h1 class="title text has-text-centered">
                        Features
                      </h1>
                      <hr />
                      <nav class="tabs is-boxed box-color is-fullwidth">
                    <div class="container">
                      <ul>
                        <li class="tab is-active text" onclick="openTab(event,'Skill')"><a >Skill Leveling</a></li>
                        <li class="tab text" onclick="openTab(event,'Factions')"><a >Factions</a></li>
                        <li class="tab text" onclick="openTab(event,'Money')"><a class="text">Economy</a></li>
                      </ul>
                    </div>
                  </nav>
                <br>
                <div class="container box box-color">
                    <div id="Skill" class="content-tab text" >
                      <p>Its about drive, its about flameee</p>
                        </div>
                    <div id="Factions" class="content-tab text" style="display:none">
                        <p>
                          test2<br>
                        Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div id="Money" class="content-tab text" style="display:none">
                      <p>
                        test3 <br>  
                      Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                </div>
                </div>
                <div class="column is-one-third">
                </div>


              <script>function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }</script>
            </div>
        </div>
      </div>
       <div class="column is-one-third">
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
        <div class="has-text-centered is-centered">
          <div class="is-size-3 text has-text-centered">
            <strong class="text is-size-2">Comming</strong> Soon!
            <hr />
          </div>
        </div>
        <article class="panel text box-color">
          <a class="text panel-block text">
            <span class="panel-icon text">
              <i class="fas fa-book"></i>
            </span>
            Some Comming Soon Item Here!
          </a>
          <a class="panel-block text">
            <span class="panel-icon text">
              <i class="fas fa-book"></i>
            </span>
            This website is the best website!
          </a>
        </article>
      </div>
      <div class="column is-one-third"></div>
      <br>
      <br>
      <!--<div clas
            s="column is-one-third">
                <div class="has-text-centered is-centered">
                    <div class="is-size-3 text has-text-centered">
                        Something will be here....
                        <hr>
                    </div>
                </div>
                <article class="panel text box-color">
                    <a class="text panel-block text">
                        <span class="panel-icon text">
                        <i class="fas fa-book"></i>
                        </span>
                        Something here??? Possibily??? (idk, bongo u decide whats here)
                    </a>
                    <a class="panel-block text">
                        <span class="panel-icon text">
                            <i class="fas fa-book"></i>
                        </span>
                        This website is the best website!
                    </a>
                </article>
            </div>-->
      <!--<div class="column is-one-third">
                <div class="has-text-centered is-centered">
                    <div class="is-size-3 text has-text-centered">
                        weeeeeeeeeeeeeeeeee
                        <hr>
                    </div>
                </div>
                <article class="panel text box-color">
                    <a class="text panel-block text">
                        <span class="panel-icon text">
                        <i class="fas fa-book"></i>
                        </span>
                            I love a
                    </a>
                    <a class="panel-block text">
                        <span class="panel-icon text">
                            <i class="fas fa-book"></i>
                        </span>
                        This website is the best website!
                    </a>
                </article>
            </div>-->
    </div>
  </section>
</body>
